beautifulsoup4==4.9.3
importlib-metadata==4.5.0
iniconfig==1.1.1
iso4217parse==0.5.1
lxml==4.6.3
Markdown==3.3.4
py==1.10.0
pymongo==3.11.4
pyparsing==2.4.7
pytest==6.2.4
python-dateutil==2.8.1
pytz==2021.1
requests==2.25.1
zipp==3.4.1
